/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #898fff;
  --vp-c-brand-dark: #626aef;
  --vp-c-brand-darker: rgb(72, 77, 165);
}
